*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #dad4d4;
    height: 100vh;
}

.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.feature-item{
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.feature-item:hover{
    transform: rotateY(180deg);
}

h3{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p{
    color: #777;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        gap: 30px;
    }
}